# будут игнорироваться все файлы и каталоги Thumds.db
Thumbs.db
# будет игнорироваться каталог tmp/
tmp/
# будет игнорироваться файл .DS_Store
.DS_Store
# будут игнорироваться все файлы с суффиксом _old
*_old
# будут игнорироваться все файлы с суффиксом _backup
*_backup